# {{ p.name }}
{{ p.description }}
{{ p.readme_manual }}

{% if "working.jpg" in p.files %}
[![](working_600.jpg)](working.jpg)
{% for i in range(1, 11) %}
    {% if "working_" ~ i ~ ".jpg" in p.files %}
    [![](working_{{ i }}_300.jpg)](working_{{ i }}.jpg)
    {% endif %}
{% endfor %}
{% endif %}

{% if "image.jpg" in p.files %}
[![](image_600.jpg)](image.jpg)
{% for i in range(1, 11) %}
    {% if "image_" ~ i ~ ".jpg" in p.files %}
    [![](image_{{ i }}_300.jpg)](image_{{ i }}.jpg)
    {% endif %}
{% endfor %}
{% endif %}

{% if "tool" in p %}
## Tools
{% for t in p.tool %}
* {{ t.title }} - {{ t.description }}
{% endfor %}
{% endif %}

{% if "steps" in p %}
## Steps
{% for dis in p.steps %}
### {{ dis.id }}
**{{ dis.title }}**   
[![](source_files/{{dis.id}}_300.jpg)](source_files/{{dis.id}}.jpg)  
{{ dis.description }}
{% endfor %}
{% endif %}