<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Creator: CorelDRAW X6 -->

<svg
   xml:space="preserve"
   width="76mm"
   height="50mm"
   version="1.1"
   style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
   viewBox="0 0 7600 5000"
   id="svg1"
   sodipodi:docname="template_label_message_76_mm_x_50_mm.svg.j2"
   inkscape:version="1.3 (0e150ed6c4, 2023-07-21)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><sodipodi:namedview
   id="namedview1"
   pagecolor="#ffffff"
   bordercolor="#000000"
   borderopacity="0.25"
   inkscape:showpageshadow="2"
   inkscape:pageopacity="0.0"
   inkscape:pagecheckerboard="0"
   inkscape:deskcolor="#d1d1d1"
   inkscape:document-units="mm"
   inkscape:zoom="2.1669375"
   inkscape:cx="257.04479"
   inkscape:cy="138.21349"
   inkscape:window-width="1680"
   inkscape:window-height="987"
   inkscape:window-x="-8"
   inkscape:window-y="2122"
   inkscape:window-maximized="1"
   inkscape:current-layer="Layer_x0020_1" />&#10; <defs
   id="defs1"><rect
   x="6.9222116"
   y="4.6148078"
   width="249.6611"
   height="175.3627"
   id="rect2" /><rect
   x="10.152577"
   y="5.5377693"
   width="268.12033"
   height="174.90121"
   id="rect1" />&#10;  <style
   type="text/css"
   id="style1">&#10;   <![CDATA[
    .str0 {stroke:black;stroke-width:52.92;stroke-linecap:round;stroke-linejoin:round}
    .fil0 {fill:none}
   ]]>&#10;  </style>&#10; </defs>&#10; <g
   id="Layer_x0020_1"
   inkscape:label="Layer 1">&#10;  <metadata
   id="CorelCorpID_0Corel-Layer" />&#10;  <path
   class="fil0 str0"
   d="M310 4210l0 -3500c0,-276 224,-500 500,-500l6000 0c276,0 500,224 500,500l0 3500c0,276 -224,500 -500,500l-6000 0c-276,0 -500,-224 -500,-500z"
   id="path1" />&#10; <text
   xml:space="preserve"
   transform="scale(26.458334)"
   id="text1"
   style="font-family:'Lucida Sans Unicode';-inkscape-font-specification:'Lucida Sans Unicode';white-space:pre;shape-inside:url(#rect1);display:inline;fill:#000000" /><text
   xml:space="preserve"
   transform="matrix(26.458334,0,0,26.458334,335.19909,95.455447)"
   id="text2"
   style="font-size:32px;line-height:1;font-family:'Lucida Sans Unicode';-inkscape-font-specification:'Lucida Sans Unicode';text-align:center;white-space:pre;shape-inside:url(#rect2);shape-padding:3.69185;display:inline;fill:#000000"
   x="27.720703"
   y="0"><tspan
     x="57.260742"
     y="33.67886"
     id="tspan3"><tspan
       style="font-weight:bold;font-family:Calibri;-inkscape-font-specification:'Calibri Bold'"
       id="tspan1">{{ p.label }}</tspan></tspan></text></g>&#10;</svg>
